<h1>Listing projects</h1>
<% @projects.each do |project| %>
	<h2><%= link_to project.name, project %></h2>
	<p><%= project.description %></p>
<% end %>
<br />
<% if session[:user_id] %>
	<%= link_to "Create New Project", new_project_path %>
<% end %>
